body {
    background-color: hsl(210, 46%, 95%);
    margin: 0;
    padding-top: 25px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 85%;
    margin: 0 auto;
}

.grid-items {
    border-radius: 6px;
    padding: 28px;
    box-shadow: 7px 7px 7px hsl(212, 19%, 85%);
}

#item1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 70px top;
}

#item2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: hsl(217, 19%, 35%);
}

#item3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: hsl(0, 0%, 100%);
}

#item4 {
    grid-area: 2 / 2 / 3 / 4;
    background-color: hsl(219, 29%, 14%);
}

#item5 {
    grid-area: 1 / 4 / 3 / 5;
    background-color: hsl(0, 0%, 100%);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 15px;
    border: 2px solid hsl(263, 57%, 57%);
}

.name-group-one, .name-group-two, .ver-group-one, .ver-group-two {
    margin: 0;
    padding: 0;
}

.name-group-one, .heading-group-one {
    color: hsl(210, 46%, 95%);
    font-weight: 600;
}

.name-group-two, .heading-group-two {
    color: hsl(217, 19%, 35%);
    font-weight: 600;
}

.name-group-one, .name-group-two {
    font-size: 15px;

}

.heading-group-one, .heading-group-two {
    font-size: 18px;

}

.ver-group-one{
    color: hsl(210, 46%, 95%, 0.5);
}

.ver-group-two {
    color: hsl(217, 19%, 35%, 0.5);
}

.rev-group-one {
    color: hsl(210, 46%, 95%, 0.7);
}

.rev-group-two {
    color: hsl(217, 19%, 35%, 0.7);
}
